@{
    ViewBag.Title = "Home Page";
}



<body id="stage">

    <div id="stage-caption">

        <div class="row">
            <div class="col-sm-12">
                <h1 style="padding-top:0px; color:white; font-size:46px;text-shadow: none; font-weight:100">
                    Apply now
                </h1><h1 style="font-style:italic; font-weight:800;font-size:46px;text-shadow: none; font-family: 'Raleway', 'Blackadder ITC'; ">Get the most out of your car </h1>
                <p class="jumbotron" style="font-style:italic; font-weight:800;font-size:17px;text-shadow: none; font-family: 'Raleway', 'Blackadder ITC'; ">
                    Borrow with your vehicle and get the lowest rates
                    @*<span style="font-style:italic;font-size:12px">Creative Commons CC BY license</span>*@
                </p>

                <a href="/Home/About" class="btn btn-lg btn-success">Apply now</a>
            </div>
            <hr />
        </div>
    </div>

    <section id="feature-one" class="feature-two">
        <div class="container">
            @*<div class="row">
                        <div class="feature-content">
                            <div class="col-lg-6">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/JdE-ywYbWbo" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-lg-5 col-lg-offset-1">
                                <h6>Watch This</h6>
                                <h2>Real time Architectural rendering</h2>
                                <p class="lead">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="feature-content">
                    <div class="col-md-4">
                        <h2>Lien Free Vehicle</h2>
                        <p>
                            Before you start the loan approval process make sure your vehicle is free of any liens and has no or very little balance owing on it.
                        </p>
                        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
                    </div>
                    <div class="col-md-4">
                        <h2>Apply Online or Call Us</h2>
                        <p>In just a few minutes you will have the information finished so that we can make a decision on how much we can lend you today.</p>
                        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
                    </div>
                    <div class="col-md-4">
                        <h2>Complete the required paper work</h2>
                        <p>Nothing hard. Simple things like a copy of your Drivers License. The list is short. Just E-mail us what we need & we get to work for you.</p>
                        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>






@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@