@{
    ViewBag.Title = "Home Page";
}



<body id="stage">

    <div id="stage-caption">

        <div class="row">
            <div class="col-sm-12">
                <h1 style="padding-top:0px; color:white; font-size:64px;text-shadow: none; font-weight:100">
                    A platform built to
                </h1><h1 style="font-style:italic; font-weight:800;font-size:64px;text-shadow: none; font-family: 'Raleway', 'Blackadder ITC'; ">simply get music.</h1>
                <p class="jumbotron">
                    Artists, game developers, youtube creators, and brands use our audio to build
                    experiences which bring them closer to finishing their products. All music is under the <span style="font-style:italic;font-size:12px">Creative Commons CC BY license</span>
                </p>

                <a href="/Applicant/Apply" class="btn btn-lg btn-success">Apply now</a>
            </div>
        </div>
    </div>
  



</body>





@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@