
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portal</h2>
<div class="jumbotron">
<ul>
<li class="">@Html.ActionLink("Quick user search", "SeeApplicant", "Applicant")</li>
    <li>@Html.ActionLink("Edit Update delete and view details in database", "Index", "Applicants")</li>
</ul>
</div>